[Unit]
Description=Flask app for hhyeast server

[Service]
ExecStart=/home/ubuntu/HHyeast-server/start-server.sh
Type=simple
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
