{% extends "indigo/base.html" %}


{% block page_title %}Self-serve Web Hosting for Research Applications{% endblock page_title %}


{% block body_class %}
  {% if user %}logged-in{% else %}logged-out{% endif %}
  {{ super() }}
{% endblock body_class %}


{% block styles %}
  {{ super() }}
  <link href="//cdn.ucl.ac.uk/skins/UCLIndigoSkin/default-theme/css/brightgreen.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <style>
    /* TODO: Put this in a static file! */
    img.action {
      cursor: pointer;
      height: 1.2em;
      margin: 0em 0.1em;
      vertical-align: middle;
    }
    img.inline {
      height: 0.9em;
      margin: 0em 0.5em;
      vertical-align: middle;
    }
    label {
      display: inline;
    }
  </style>
{% endblock styles %}


{% block breadcrumb_links %}
  <li class="breadcrumb__item"><a href="https://www.ucl.ac.uk/">UCL Home</a></li>
  <li class="breadcrumb__item"><a href="http://www.ucl.ac.uk/research-it-services">Research IT Services</a></li>
  <li class="breadcrumb__item"><a href="{{ url_for('main.index') }}">Self-serve Web Hosting for Research Applications</a></li>
{% endblock breadcrumb_links %}
