{% extends "indigo/base.html" %}


{% block page_title %} HHYeast server {% endblock page_title %}


{% block styles %}
{{ super() }}
<link href="//cdn.ucl.ac.uk/skins/UCLIndigoSkin/default-theme/css/brightgreen.min.css" media="screen, projection" rel="stylesheet" type="text/css" />
{% endblock styles %}


{% block breadcrumb_links %}
<li class="breadcrumb__item"><a href="https://www.ucl.ac.uk/">UCL Home</a></li>
<li class="breadcrumb__item"><a href="http://www.ucl.ac.uk/research-it-services">Research IT Services</a></li>
<li class="breadcrumb__item"><a href="{{ url_for('main.index') }}"> Structural bioinformatics with HHYeast</a></li>
{% endblock breadcrumb_links %}
