{% extends "base.html" %}

{% block breadcrumb_links %}
  <li class="breadcrumb__item"><a href="https://www.ucl.ac.uk/">UCL Home</a></li>
  <li class="breadcrumb__item"><a href="http://www.ucl.ac.uk/research-it-services">Research IT Services</a></li>
  <li class="breadcrumb__item">Structural bioinformatics with HHYeast</li>
{% endblock breadcrumb_links %}

{% block content %}
  <h3> {{name}} </h3>

  <div class="bk-root">
       {{ plot_script|safe }}
  </div>

  <a class="btn" href="{{ url_for('load_detail', filename=name, db='pdb') }}">Detailed PDB hits</a>
  <a class="btn" href="{{ url_for('load_detail', filename=name, db='pfam') }}">Detailed Pfam hits</a>
  <a class="btn" href="{{ url_for('load_detail', filename=name, db='yeast') }}">Detailed yeast hits</a>
{% endblock content %}

