{% extends "base.html" %}

{% block breadcrumb_links %}
  super()
  <li class="breadcrumb__item">{{ name }}</li>
{% endblock breadcrumb_links %}

{% block content %}
  <h3> {{name}} </h3>

  <div class="bk-root">
       {{ plot_script|safe }}
  </div>
  <form action="" method="post" name="detailform1">
       {{ form1.hidden_tag() }}
       <input type="submit" name="detail1" value="Detailed PDB hits">
  </form>
  <form action="" method="post" name="detailform2">
       {{ form2.hidden_tag() }}
       <input type="submit" name="detail2" value="Detailed Pfam hits">
  </form>
  <form action="" method="post" name="detailform3">
       {{ form3.hidden_tag() }}
       <input type="submit" name="detail3" value="Detailed yeast hits">
  </form>
{% endblock content %}

